
 /* html {
    scroll-behavior: smooth;
   
  }
  section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
  }
   */
   
  body{
    font-family: 'Bungee Inline', cursive;
    font-size: 12px;
    background-color: #AAEFDF;
   }

.main-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0 0px;
    flex-direction: row;
    background-color: #AAEFDF;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.left-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 95%;
    /* padding: 10px; */
    /* background-color: cornflowerblue; */
    background-image: url('https://image.freepik.com/free-photo/yellow-blue-geometric-background_23-2147668471.jpg');
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20%;
    box-shadow: 5px 10px;
    margin-right: 10px;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    height: 100%;
    /* padding: 10px; */
    border-radius: 30%;
    /* border: 2px solid rgb(0, 0, 0); */
}

#x-marker {
  font-size: 2em;

}

.leaderboard h2 {
  font-size: 2em;
  font-family: Play;
}

.leaderboard li {
  font-size: 2em;
}

.leaderboard li span {
  color: white;
  padding: 10px;
}

.leaderboard {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    padding: 10px;
    /* background-color: black; */
    background-image: url("https://img.freepik.com/free-photo/black-chalk-board-texture_89245-170.jpg?size=626&ext=jpg");
    border-radius: 20%;
    font-family: Play;
    color: white;
    border: 7px dotted white;
}

.right-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 95%;
    /* padding: 10px; */
    background-color:  #AAEFDF;
    /* border: 1px solid rgb(0, 0, 0); */
    /* justify-content: space-around; */
    align-items: center;
}

.top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 50%;
    /* padding: 10px; */
    /* background-color: rgb(255, 255, 255); */
    /* border: 2px solid rgb(0, 0, 0); */
}

.country {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 95%;
    /* padding: 10px; */
    /* background-color: lightblue; */
    background-image: url("https://i.pinimg.com/originals/b9/ea/4e/b9ea4e526fb0fc0fd8038ac713fbb881.jpg");
    /* border: 2px solid rgb(0, 0, 0); */
    border-bottom-left-radius: 20%;
    border-top-left-radius: 20%;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: 5px 10px;
}

#country-flag {
    max-width: 300px;
    max-height: 100%;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 95%;
    /* padding-bottom: 30px; */
    /* background-color: lightblue; */
    background-image: url('https://i.pinimg.com/originals/b9/ea/4e/b9ea4e526fb0fc0fd8038ac713fbb881.jpg');
    /* border: 1px solid rgb(0, 0, 0); */
    border-bottom-right-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    box-shadow: 5px 10px;
}

#item-img {
    max-width: 300px;
    max-height: 50%;
}

.user-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 95%;
    height: 50%;
    /* padding: 10px; */
    background-color: #AAEFDF;
    /* border: 2px solid rgb(0, 0, 0); */
}

.rules {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 45%;
  height: 95%;
  /* padding: 10px; */
  background-color: lightgoldenrodyellow;
  border: 1px solid black;
  border-radius: 10%;
  box-shadow: 5px 10px;
}

.game-div {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  height: 95%;
  /* padding: 10px; */
  border-radius: 10%;
  background-color: lightgoldenrodyellow;
  border: 1px solid black;
  box-shadow: 5px 10px;
  /* background-image: url(https://media.istockphoto.com/photos/international-currency-global-money-exchange-and-business-finance-picture-id610771930); */
}

.user-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 100%;
  /* padding: 10px; */
  /* background-color: lightblue; */
  /* border-radius: 10%; */
  /* background-image: url(https://media.istockphoto.com/photos/international-currency-global-money-exchange-and-business-finance-picture-id610771930); */
  /* border: 2px solid rgb(0, 0, 0); */
}

/* #generate {
    width: 200px;
    height: 80px;
} */

#x-marker p {
  color: rgb(160, 22, 22);
}

#rules-text {
  font-size: 14px;
}

#counter {
  font-size: 40px;
}

#game-title {
  color: rgb(29, 103, 103);
}

ul {
  align-self: baseline;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 7.5%;
}

#correct-message {
  align-self: center;
  justify-self: center;
}

.guess-input {
  height: 40px;
  width: 50%;
  border: 5px solid #AAEFDF ;
  border-radius: 10%;
}

input.username {
  height: 100%;
  width: 70%;
  /* border: 5px solid ; */
  border-radius: 10%;
}

.username-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    font-family: inherit;
    background-color: #AAEFDF ;
    color: black;
}

/* experimenting with buttons */

:root {
    --backgroundColor: rgba(246, 241, 209);
    --colorShadeA: rgb(106, 163, 137);
    --colorShadeB: rgb(121, 186, 156);
    --colorShadeC: rgb(150, 232, 195);
    --colorShadeD: rgb(187, 232, 211);
    --colorShadeE: rgb(205, 255, 232);
  }
  
  @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
  * {
    box-sizing: border-box;
  }
  *::before, *::after {
    box-sizing: border-box;
  }

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1.5rem;
      color:var(--colorShadeA);
    font-weight: 700;
    text-transform: uppercase;
    font-family: inherit;
  }
  
  button.big-button {
     padding: 1em 2em;
     border: 2px solid var(--colorShadeA);
    border-radius: 1em;
    background: var(--colorShadeE);
  transform-style: preserve-3d;
     transition: all 175ms cubic-bezier(0, 0, 1, 1);
  }

  button.big-button::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--colorShadeC);
    border-radius: inherit;
      box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
   transform: translate3d(0, 0.75em, -1em);
       transition: all 175ms cubic-bezier(0, 0, 1, 1);
  }
  
  
  button.big-button:hover {
    background: var(--colorShadeD);
    transform: translate(0, 0.375em);
  }
  
  button.big-button:hover::before {
    transform: translate3d(0, 0.75em, -1em);
  }
  
  button.big-button:active {
              transform: translate(0em, 0.75em);
  }
  
  button.big-button:active::before {
    transform: translate3d(0, 0, -1em);
    
        box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
  
  }

